<app-header></app-header>
<div class="my-bookings">
  <h1>My Bookings</h1>

  <div *ngIf="bookings.length > 0; else noBookings">
    <table>
      <thead>
        <tr>
          <th>Flight Number</th>
          <th>Departure</th>
          <th>Arrival</th>
          <th>Departure Time</th>
          <th>Passengers</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let booking of bookings">
          <td>{{ booking.flight.flightNumber }}</td>
          <td>{{ booking.flight.departure.name }}</td>
          <td>{{ booking.flight.arrival.name }}</td>
          <td>{{ booking.flight.departureDateTime | date: 'short' }}</td>
          <td>
            <ul>
              <li *ngFor="let passenger of booking.passengers">
                {{ passenger.name }} ({{ passenger.passportNumber }})
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #noBookings>
    <p>No bookings found. Make a booking to see it here!</p>
  </ng-template>
</div>
