<app-header></app-header>

<div class="flight-table-container">
  <h2>All Flights</h2>
  <table mat-table [dataSource]="flights" class="mat-elevation-z8">
    <!-- Flight Number Column -->
    <ng-container matColumnDef="flightNumber">
      <th mat-header-cell *matHeaderCellDef> Flight No. </th>
      <td mat-cell *matCellDef="let flight"> {{ flight.flightNumber }} </td>
    </ng-container>

    <!-- Departure Column -->
    <ng-container matColumnDef="departure">
      <th mat-header-cell *matHeaderCellDef> Departure </th>
      <td mat-cell *matCellDef="let flight"> {{ flight.departure.name }} </td>
    </ng-container>

    <!-- Arrival Column -->
    <ng-container matColumnDef="arrival">
      <th mat-header-cell *matHeaderCellDef> Arrival </th>
      <td mat-cell *matCellDef="let flight"> {{ flight.arrival.name }} </td>
    </ng-container>

    <!-- Departure Time Column -->
    <ng-container matColumnDef="departureTime">
      <th mat-header-cell *matHeaderCellDef> Departure Time </th>
      <td mat-cell *matCellDef="let flight">
        {{ flight.departureDateTime | date: 'short' }}
      </td>
    </ng-container>

    <!-- Arrival Time Column -->
    <ng-container matColumnDef="arrivalTime">
      <th mat-header-cell *matHeaderCellDef> Arrival Time </th>
      <td mat-cell *matCellDef="let flight">
        {{ flight.arrivalDateTime | date: 'short' }}
      </td>
    </ng-container>

    <!-- Seats Column -->
    <ng-container matColumnDef="seats">
      <th mat-header-cell *matHeaderCellDef> Seats </th>
      <td mat-cell *matCellDef="let flight"> {{ flight.seats }} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let flight">
        <button
          mat-raised-button
          color="primary"
          (click)="bookFlight(flight.flightNumber)"
        >
          Book Now
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
