<div class="home-container">
  <!-- Header -->
  <app-header></app-header>

  <!-- Buttons -->
  <div class="buttons">
    <!-- Admin Button -->
    <button mat-raised-button color="primary" [matMenuTriggerFor]="adminMenu">
      Admin
    </button>
    <mat-menu #adminMenu="matMenu">
      <button mat-menu-item (click)="navigateTo('admin/flights')">
        Manage Flights
      </button>
      <button mat-menu-item (click)="navigateTo('destination-management')">
        Manage Flight Destinations
      </button>
    </mat-menu>

    <!-- User Button -->
    <button mat-raised-button color="accent" [matMenuTriggerFor]="userMenu">
      User
    </button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="navigateTo('user/bookings')">
        My Bookings
      </button>
      <button mat-raised-button color="primary" (click)="navigateTo('user/all-flights')">
        View All Flights
      </button>
    </mat-menu>
  </div>

  <!-- Last-Minute Flights Section -->
  <div class="flight-table-container mat-elevation-z8">
    <h2>Last-Minute Flights</h2>
    <table mat-table [dataSource]="lastMinuteFlights" class="custom-table">
      <!-- Flight Number Column -->
      <ng-container matColumnDef="flightNumber">
        <th mat-header-cell *matHeaderCellDef> Flight No. </th>
        <td mat-cell *matCellDef="let flight"> {{ flight.flightNumber }} </td>
      </ng-container>

      <!-- Departure Column -->
      <ng-container matColumnDef="departure">
        <th mat-header-cell *matHeaderCellDef> Departure </th>
        <td mat-cell *matCellDef="let flight"> {{ flight.departure.name }} </td>
      </ng-container>

      <!-- Arrival Column -->
      <ng-container matColumnDef="arrival">
        <th mat-header-cell *matHeaderCellDef> Arrival </th>
        <td mat-cell *matCellDef="let flight"> {{ flight.arrival.name }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['flightNumber', 'departure', 'arrival']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['flightNumber', 'departure', 'arrival']"></tr>
    </table>
    <button mat-raised-button color="primary" (click)="navigateTo('last-minute-flights')">
      Find a Flight
    </button>
  </div>
</div>
